*{
  background-color: rgb(240, 180, 180);
}
.App {
  text-align: center;
}
.userForm{
  padding: 3px;
}
.userForm h2{
  margin-top: 0;
  background-color: gray;
  padding: 20px;
}
.inputFiled .label{
  padding-left: 25px;

}
.inputFiled input{
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
button{
  width: 140px;
  height: 40px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 800;
  background-color: green;
}